#getInTouch {

    padding-bottom: 0;

    .centerStage {

        background-color: $lightestNavy;
        padding: 100px 0;

    }

    h1 {

        color: $lightSlate;
        margin-bottom: 30px;

    }

    p {

        width: 50%;
        margin: 0 auto;

    }

}
