#intro {

    &.dftPadding {

        padding-bottom: 0;

    }

    p {

        margin: 0;
        font-size: 17px;
        font-weight: 300;

        &:first-child {

            color: $green;
            word-spacing: 3px;
            margin-bottom: 20px;

        }

        &:last-of-type {

            width: 45%;

        }

    }

    h1, h2 {

        font-size: 70px;
        margin: 0;
        font-weight: 700;

    }

    h1 { color: $lightestSlate; }

    h2 {

        margin-bottom: 30px;
        color: $lightSlate;

    }

    .actions {

        margin-top: 40px;

        a {

            word-spacing: 5px;
            letter-spacing: 0.5px;
            padding: 15px 30px;
            font-size: 15px;

        }

    }

}
